<!doctype html>
<html>
<head>
<meta charset="utf-8">
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src="/js/base.js"></script>
<link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/base.css" rel="stylesheet">
<title>无标题文档</title>
</head>
<body class="input-group">
	<a href="#">添加用例</a>
    <form action="/cases/add">
    <div class="xzh">选择项目<select name="project_id" target="/interface/list" onChange="getInterfaceList()">
	#foreach($obj in $listProject)
    	<option value="$obj.id">$obj.name</option>
    #end
    <option value="1" selected="selected">1</option>
    </select></div>
    <div style="float:left">选择接口
    	<select name="interface_id" target="/interface/list" onChange="getTestCaseList()">
    	</select>
    </div>
    <div >
    	<table id="list">
        	<tbody>
            	<tr>
                	<th>a</th><th>a</th><th>a</th><th>a</th>
                </tr>
                #foreach($obj in $listTestCase)
                	<tr><td>$obj.a</td></tr>
                #end
            </tbody>
        </table>
    </div>//crud
     <div id="add_model" style="display:none">
    	<div>relative_url:<input name="relative_url" value="/11/22"/></div> //没有请创建
        <div>mapping_name:<input name="mapping_name" value="自动匹配"/></div>
        <div>name:<input type="text" name="name" value="test"/></div>
        <div>discribe:<input type="text" name="discribe" value="测试用"/></div>
        <div>parameters:<input type="text" name="parameters" value="a=1&b=2"/></div>
        <div>compare_type:<select name="compare_type"><option value="contains" selected="selected">contains</option></select></div>
        <div>expectation:<input type="text" name="expectation" value="123"/></div>
        <button type="submit">确定</button>
    </div>
    </form>//自动匹配
    
    <div id="add_project" style="display:none">
    	<div>name:<input name="name" value="测试2"/></div>
        <div>discribe:<input name="discribe" value="测试描述"/></div>
        <button type="submit">确定</button>
    </div>
    
    <div id="add_interface" style="display:none">
    	<div>project_id:<input name="project_id" value="1"/></div>
    	<div>relative_url:<input name="relative_url" value="/unread/test"/></div>
        <div>mapping_name:<input name="mapping_name" value="test"/></div>
        <div>discribe:<input name="discribe" value="测试接口"/></div>
        <div>method:<select name="method"><option value="GET" selected="selected">GET</option></select></div>
        <button type="submit">确定</button>
    </div>
<script>
function getTestCaseList(){
	var id=$("select[name='interface_id']").val();
	var target=$("select[name='interface_id']").attr("target");
	var result=getList();
}
function getInterfaceList(){
	var id=$("select[name='project_id']").val();
	var target=$("select[name='project_id']").attr("target");
	var result=getList(id,target);
	alert(result);
	
	
}
</script>
</body>