<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:aop="http://www.springframework.org/schema/aop"
 xmlns:tx="http://www.springframework.org/schema/tx"
 xmlns:util="http://www.springframework.org/schema/util"
 xmlns:p="http://www.springframework.org/schema/p"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 
 xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
      
 
    <!-- 引入jdbc配置文件 -->
    <context:property-placeholder location="classpath:conf/jdbc.properties"/>
    <!-- 扫描文件（自动将servicec层注入） -->
    <context:component-scan base-package="auto.test.http.spring.service"/>
    <context:component-scan base-package="auto.test.http.spring.controller"/>
    <mvc:annotation-driven/> 
    <mvc:resources mapping="/js/**"    
         location="WEB-INF/js/"/>   
    <mvc:resources mapping="/css/**"    
         location="WEB-INF/css/"/> 
    <mvc:default-servlet-handler /> 
    
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
    destroy-method="close" >
    <property name="driverClassName">
      <value>${jdbc_driverClassName}</value>
    </property>
    <property name="url">
      <value>${jdbc_url}</value>
    </property>
    <property name="username">
      <value>${jdbc_username}</value>
    </property>
    <property name="password">
      <value>${jdbc_password}</value>
    </property>
    <!-- 连接池最大使用连接数 -->
    <property name="maxActive">
      <value>20</value>
    </property>
    <!-- 初始化连接大小 -->
    <property name="initialSize">
      <value>1</value>
    </property>
    <!-- 获取连接最大等待时间 -->
    <property name="maxWait">
      <value>60000</value>
    </property>
    <!-- 连接池最大空闲 -->
    <property name="maxIdle">
      <value>20</value>
    </property>
    <!-- 连接池最小空闲 -->
    <property name="minIdle">
      <value>3</value>
    </property>
    <!-- 自动清除无用连接 -->
    <property name="removeAbandoned">
      <value>true</value>
    </property>
    <!-- 清除无用连接的等待时间 -->
    <property name="removeAbandonedTimeout">
      <value>180</value>
    </property>
    <!-- 连接属性  此版本不能设置
    <property name="connectionProperties">
      <value>clientEncoding=UTF-8</value>
    </property>-->
  </bean>
  
  <bean id="sqlSessionFactory" 
  		  class="org.mybatis.spring.SqlSessionFactoryBean"
          p:dataSource-ref="dataSource"
          p:configLocation="classpath:conf/mybatis-config.xml"
          p:mapperLocations="classpath:auto/test/http/spring/mapper/*.xml"/>
          
  <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"
        p:basePackage="auto.test.http.spring.dao"
        p:sqlSessionFactoryBeanName="sqlSessionFactory"/>
  
   <!-- 对数据源进行事务管理 -->
  <bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
        p:dataSource-ref="dataSource"/>  
  
   <!-- 避免IE在ajax请求时，返回json出现下载
   <bean id="jacksonMessageConverter" class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">    
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
            </list>
        </property>
    </bean> -->
    
    <bean  
        class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">  
        <property name="messageConverters">  
            <list>  
                <bean  
                    class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter" />  
                <bean  
                    class="org.springframework.http.converter.StringHttpMessageConverter">  
                    <property name="supportedMediaTypes">  
                        <list>  
                            <value>text/plain; charset=UTF-8</value>  
                        </list>  
                    </property>  
                </bean>  
            </list>  
        </property>  
    </bean>
    
    <!-- spring 原始页面设置 
     <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:prefix="/WEB-INF/"
          p:suffix=".html" />-->
    
    <!-- 模板信息设置 -->   
   <bean id="velocityConfigurer"  
       class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">  
       <property name="resourceLoaderPath"  value="WEB-INF/views" /><!-- 設置模板防止位置-->  
       <property name="velocityProperties">  
           <props>  
               <prop key="directive.foreach.counter.name">loopCounter</prop>  
               <prop key="directive.foreach.counter.initial.value">0</prop>  
               <prop key="input.encoding">UTF-8</prop><!-- 指定模板引擎进行模板处理的编码 -->  
               <prop key="output.encoding">UTF-8</prop><!-- 指定输出流的编码 -->  
           </props>  
       </property>  
   </bean> 
   
   <!-- 设置视图解析工具 -->  
   <bean id="viewResolver"  
       class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">  
       <property name="suffix" value=".html" />  
       <!-- 避免乱码 -->  
       <property name="contentType" value="text/html;charset=UTF-8" />  
       <property name="dateToolAttribute" value="dateTool" />  
       <property name="numberToolAttribute" value="numberTool" />  
       <property name="exposeRequestAttributes" value="true" />  
       <property name="exposeSessionAttributes" value="true" />  
   </bean>   
               
  <!-- spring-c3p0配置项
  	<bean id="dataSource"  
          class="com.mchange.v2.c3p0.ComboPooledDataSource"  
          destroy-method="close">  
        <property name="driverClass">  
            <value>${datasource.driverClassName}</value>  
        </property>  
        <property name="jdbcUrl">  
            <value>${datasource.url}</value>  
        </property>  
        <property name="user">  
            <value>${datasource.username}</value>  
        </property>  
        <property name="password">  
            <value>${datasource.password}</value>  
        </property>  
        	当连接池中的连接耗尽的时候c3p0一次同时获取的连接数。Default: 3    
        <property name="acquireIncrement">  
            <value>${c3p0.acquireIncrement}</value>  
        </property>  
       	初始化时获取三个连接，取值应在minPoolSize与maxPoolSize之间。Default: 3 
        <property name="initialPoolSize">  
            <value>${c3p0.initialPoolSize}</value>  
        </property>  
        <property name="minPoolSize">  
            <value>${c3p0.minPoolSize}</value>  
        </property>  
        <property name="maxPoolSize">  
            <value>${c3p0.maxPoolSize}</value>  
        </property>  
       	最大空闲时间,60秒内未使用则连接被丢弃。若为0则永不丢弃。Default: 0    
        <property name="maxIdleTime">  
            <value>${c3p0.maxIdleTime}</value>  
        </property>  
        	每60秒检查所有连接池中的空闲连接。Default: 0  
        <property name="idleConnectionTestPeriod">  
            <value>${c3p0.idleConnectionTestPeriod}</value>  
        </property>  
         JDBC的标准参数，用以控制数据源内加载的PreparedStatements数量。但由于预缓存的statements   
                            属于单个connection而不是整个连接池。所以设置这个参数需要考虑到多方面的因素。   
                            如果maxStatements与maxStatementsPerConnection均为0，则缓存被关闭。Default: 0  
        <property name="maxStatements">  
            <value>${c3p0.maxStatements}</value>  
        </property>  
         c3p0是异步操作的，缓慢的JDBC操作通过帮助进程完成。扩展这些操作可以有效的提升性能 通过  
                                  多线程实现多个操作同时被执行。Default: 3 
        <property name="numHelperThreads">  
            <value>${c3p0.numHelperThreads}</value>  
        </property>  
    </bean>  -->
      <!-- 自定义拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
        	<mvc:mapping path="/*"/>  
            <bean class="auto.test.http.utils.Authlogin" /> 
        </mvc:interceptor>
 	</mvc:interceptors>
    
</beans>